<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">

  <script src="lib/mdui.global.js"></script>
  <link rel="stylesheet" href="lib/mdui.css">
  <script src="lib/chart.umd.min.js"></script>
  <script src="lib/ejs.min.js"></script>
  <script src="lib/progressbar.min.js"></script>
  <script src="lib/pinyin-pro.min.js"></script>

  <script src="lib/highlight/highlight.min.js"></script>
  <link rel="stylesheet" href="lib/highlight/styles/atom-one-dark.css" />

  <link rel="stylesheet" href="lib/animate.css" />


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="resources/icon.png">

  <link rel="stylesheet" href="css/index.css" />

  <title>ONi</title>
</head>

<body style="margin: 0;">

  <div>
    <%- include("navrail.ejs",{debugMode: debugMode}) %>
  </div>

  <div style="overflow: hidden;position: relative; ">

    <%- include("topbar.ejs") %>

    <div id="main-content-area" style="height: calc(100dvh - 7rem);overflow: auto;">

      <%- include("content/overview.ejs") %>
      <%- include("content/events.ejs") %>
      <%- include("content/control.ejs") %>
      <%- include("content/ae.ejs") %>
      <%- include("content/bot.ejs") %>
      <%- include("content/stats.ejs") %>
      <%- debugMode? include("content/debug.ejs"):"" %>

      <script>
        !(function() {
          const e = document.getElementById("main-content-area")
          e.addEventListener('scroll', function() {
            var scrollTop = e.scrollTop
            var parallaxSpeed = 0.2

            var bgTexture = document.getElementById('bg-texture')
            bgTexture.style.top = -(scrollTop * parallaxSpeed) / 10 + '%'
          })

        })()
      </script>
    </div>

    <div id="bg-texture">
      <img src="resources/texture_1.png" />
      <img hidden src="resources/texture_higan.jpg" />
    </div>

    <%- include("login.ejs") %>
    <%- include("dialog.ejs") %>

  </div>


  <style>
    #bg-texture {
      position: absolute;
      top: 0;
      left: 0;
      width: 120%;
      height: 120%;
      z-index: -3;
      opacity: 0.01;
      mix-blend-mode: lighten;
    }

    #bg-texture img {
      object-fit: cover;
      width: 120%;
      height: 120%;
    }

    mdui-top-app-bar:not([shrink]) {
      background: linear-gradient(to bottom, rgba(var(--mdui-color-surface-container)), rgba(0, 0, 0, 0));
    }


    ::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    ::-webkit-scrollbar-track {
      background-color: #8888880F;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #88888880;
      border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  </style>

  <mdui-dialog id="settings-dialog">
    <%- include("settings.ejs") %>
  </mdui-dialog>


  <script src="js/index.js"></script>
  <script src="js/global.js"></script>
  <script src="js/style.js"></script>
  <script src="js/top-bar.js"></script>
  <script src="js/nav-rail.js"></script>
  <script src="js/dialog.js"></script>


  <script src="js/content/overview.js"></script>
  <script src="js/content/events.js"></script>
  <script src="js/content/control.js"></script>
  <script src="js/content/ae.js"></script>
  <script src="js/content/bot.js"></script>
  <%- debugMode? '<script src="js/content/debug.js"></script>' : '' %>


  <script>
    // 样式注入
    window.onload = function() {

      // 顶栏
      const e1 = document.querySelector("mdui-top-app-bar-title")
      const sr = e1.shadowRoot
      sr.childNodes[1].classList.replace("variant-small", "variant-medium")
      sr.childNodes[3].classList.replace("variant-small", "variant-medium")


      // 侧边栏
      const e2 = document.getElementById("navi-drawer")
      let s2 = document.createElement('style')
      s2.innerHTML = `
      .panel {
      height: 100% !important;
      width: 5.0625rem !important;
      border-radius: 0 !important;
      }
      `
      e2.shadowRoot.appendChild(s2)
    }
  </script>

  <style>

  </style>

</body>

</html>