<mdui-card variant="filled" class="card control-redstone-analog__card">

  <div style="display: flex;align-items: center;">
    <div style="font-size: x-large;"><b><%= name %></b></div>
  </div>

  <div>
    <%= description %>
  </div>

  <div style="display: flex;align-items: center;">
    <div style="opacity: 0.5;">红石模拟信号：<%= value %>
    </div>
  </div>

  <mdui-slider tickmarks max="15"></mdui-slider>

  <data hidden uuid="<%- uuid %>" botUuid="<%- botUuid %>" side="<%- side %>"></data>

</mdui-card>