<mdui-card variant="filled" class="card control-redstone-digital__card">

  <div style="display: flex;align-items: center;">
    <div style="font-size: x-large;"><b><%= name %></b></div>
  </div>

  <div>
    <%= description %>
  </div>

  <div style="display: flex;align-items: center;">
    <div style="opacity: 0.5;">红石信号：<%= value==0?'未激活':'激活' %>
    </div>
  </div>

  <mdui-switch></mdui-switch>

  <data hidden uuid="<%- uuid %>" botUuid="<%- botUuid %>" side="<%- side %>"></data>

</mdui-card>